body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black; /* Set the background to black */
}

h1 {
    margin: 0;
    color: white;
    text-align: center;
    margin-top: 38vh;
}

.all {
    background-color: #333; /* Set the background for elements with the "all" class */
    text-align: center;
    margin: 20px auto; /* Center vertically and horizontally */
    color: white;
    border-radius: 10px; /* Add rounded corners */
    padding: 20px; /* Add some padding for better visual appearance */
}

h2 {
    font-size: 1.5rem;
    color: white;
    margin: auto; /* Center vertically and horizontally */
}

#visit-count {
    font-size: 2rem;
    font-weight: bold;
    text-decoration: underline;
    color: white;
}
