body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
}

.all {
    background-color: #333;
    border: 2px gray solid;
}

h1 {
    margin: 0;
    color: white;
    text-align: center;
    margin-top: 38vh;
}

.tracking-info {
    text-align: center;
    margin: 20px auto; /* Center vertically and horizontally */
    color: white;
}

h2 {
    font-size: 1.5rem;
    color: white;
    margin: auto; /* Center vertically and horizontally */
}

#visit-count {
    font-size: 2rem;
    font-weight: bold;
    color: white;
}
